{% extends 'base.html' %}
{% block content %}

<h1>{{activity.name}}</h1>
<h5>CO2 Savings: {{ activity.savings }}</h5>
<p>{{ activity.about }}</p>

{% if request.user.username %}
    {% if activity in user_activities %}
        <a class="btn" href="{% url 'unassoc_activity' activity.id request.user.id %}">Delete Activity from My List</a>
    {% else%}
        <a class="btn" href="{% url 'assoc_activity' activity.id request.user.id %}">Add Activity to My List</a>
    {% endif %}
{% endif %}

{% endblock %}