{% extends 'base.html' %}
{% block content %}
<body class="activities-body">
<h1>Activities Page</h1>
    <div class="activities-div">
        {% for activity in activities %}
            <div class="activities-card">
            <div id="card-row" class="row">
                <div id="card" class="col s12 m6">
                <div class="card blue-grey darken-1" id="activities-card">
                    <div class="card-content">
                    <span id="card-title" class="card-title">{{ activity.name }}</span>
                    <p class="savings">CO2 Savings: {{ activity.savings }} lbs/yr</p>
                    <br>
                    <p>{{ activity.about }}</p>
                    </div>
                    <div id="bottom-card" class="card-action">
                        {% if request.user.username %}
                            {% if activity in user_activities %}
                                <a id="card-btn" class="btn" href="{% url 'unassoc_activity' activity.id request.user.id %}">Delete Activity from My List</a>
                            {% else%}
                                <a id="card-btn" class="btn" href="{% url 'assoc_activity' activity.id request.user.id %}">Add Activity to My List</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

{% endblock %}