{% extends 'base.html' %}
{% block content %}

<h1>Add Blog Post</h1>
<div class="blog-form">
    <form action="" method="post">
        <!-- Django requires the following for security purposes -->
        {% csrf_token %}
        <label>Title: 
            <input type="text" name="title">
        </label>
        <label>Post:</label>
            <textarea name="post" id="bp_textarea" cols="30" rows="80"></textarea>
        <input type="submit" value="Submit!" class="btn">
    </form>

</div>

{% endblock %}