body {
    padding: 0;
    margin: 0;
}

.logo-img {
    height: 50px;
    width: 140px;
    margin-top: 7px;
}

.nav-wrapper {
    background-color: #c4d3e4;
}

.nav-link {
    color: #343b47;
    font-weight: 600;
}

.hp-body {
    background-image: url(https://i.imgur.com/8sDaL0T.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.hp-container {
    margin-right: auto;
    width: 700px;
    margin-left: 100px;
    
}

.hp-blurb {
    font-size: x-large;
}

.blog-body {
    display: block;
    justify-content: center;
    background-image: url('https://i.imgur.com/YoQKaKx.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px;
    color: black;
    margin-left: 0px;
    width: 100%;
}

.activities-body {
    text-align: center;
    background-image: url('https://i.imgur.com/5zdKzK8.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #c4d3e4;
}

.activities-div {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#card {
    width: 500px;
    margin-left: auto;
}

.activities-card {
    margin: 10px;

}

.card-content {
    background-color: #c4d3e4;
    color: #343b47;
    font-weight: 500;
}

#bottom-card {
    background-color: #c4d3e4;
}

#card-title {
    font-size: 35px;
    margin-bottom: 10px;
}

#card-btn {
    background-color: #343b47;
    color: #c4d3e4;
}

#card-btn:hover {
    color: #343b47;
    background-color: #c4d3e4;
}

.act-h1 {
    color: #1e3454;
    margin-bottom: 50px;
}