body {
    padding: 0;
    margin: 0;
    text-align: center;
}

.logo-img {
    height: 50px;
    width: 140px;
    margin-top: 7px;
}

.nav-wrapper {
    background-color: #c4d3e4;
}

.nav-link {
    color: #343b47;
    font-weight: 600;
}

.hp-body {
    background-image: url(https://i.imgur.com/8sDaL0T.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.hp-container {
    margin-right: auto;
    width: 700px;
    margin-left: 100px;
    
}

.hp-blurb {
    font-size: x-large;
}

.blog-body {
    display: block;
    justify-content: center;
    background-image: url('https://i.imgur.com/YoQKaKx.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px;
    color: black;
    margin-left: 0px;
    width: 100%;
    font-weight: 900;
}

.blog-body2 {
    background-color: #394c5d;
}

.blog-h1 {
    font-size: 100px;
    font-weight: 900;
}

.blog-div {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#bp-card {
  
    width: 400px;
}

#add-bp {
    margin: 20px;
    color: #343b47;
    background-color: #c4d3e4;
    font-size: 20px;
}

#add-bp:hover {
    background-color: #343b47;
    color: #c4d3e4;
}

.activities-body {
    text-align: center;
    background-image: url('https://i.imgur.com/5zdKzK8.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #c4d3e4;
}

.activities-div {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#card {
    width: 500px;
    margin-left: auto;
}

.activities-card {
    margin: 10px;

}

.card-content {
    background-color: #c4d3e4;
    color: #343b47;
    font-weight: 500;
}

#bottom-card {
    background-color: #c4d3e4;
    justify-content: center;
}

#card-title {
    font-size: 35px;
    margin-bottom: 10px;
}

#card-btn {
    background-color: #343b47;
    color: #c4d3e4;
    font-weight: 500;
}

#card-btn:hover {
    color: #343b47;
    background-color: #c4d3e4;
    font-weight: 500;
}

.act-h1 {
    color: #1e3454;
    margin-bottom: 50px;
}

.user-body {
    text-align: center;
    background-image: url('https://i.imgur.com/3vVODqZ.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #c4d3e4;
}

.user-container {
    display: flex;
    justify-content: center;

}

div#row {
    width: 700px;
    align-items: center;
}

#note-card {
    width: 300px;
    margin-left: auto;
}

.notes-form {
    width: 400px;
    text-align: center;
    /* background-color: rgba(255, 250, 250, 0.685); */
}

.note {
    color: #c4d3e4;
    font-size: 40px;
}

.h1 {
    margin-bottom: 50px;
}

.blog-form {
    width: 700px;
    margin: auto;
}

.bp-body {
    background-image: url('https://i.imgur.com/pA97L8L.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.bp-text {
    font-size: 50px;
}

.login {
    background-image: url('https://i.imgur.com/33pwmqP.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    width: 400px;
    margin: auto;
}

.sign-form {
    width: 600px;
    margin: auto;
    background-color: #ffffffb4;
    padding: 30px;
}